@model qwerty.Models.venueinfo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_LayoutPage3.cshtml";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<b><h4 style="color:red;">Are You Sure to Want delete this ? </h4> </b>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Venue_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="w3-button w3-green" /> 
        </div>
    }
    <br />
    <button onclick="document.location='https://localhost:44334/Venue/Index'" class="w3-button w3-red">Back to List</button>

</div>
